<li>
	{{act_name}}

	<button class="change-done mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-id="{{id}}" data-newdone="{{done}}">
		{{#if done}}Mark as Completed{{else}}Do it Again{{/if}}
	</button>

	{{!-- <button class="delete-act" data-id="{{this.id}}">Delete</button> --}}
</li>